.ab {
color: rgb(0, 0, 0);
text-decoration: none;
padding-left: 20px;
font-weight: 600;

}
.footer{
	left: 0;
	bottom: 0;
	width: 100%;
}
    
.i{
    padding-left: 20px;
}
    


.active-link {
    
    color: rgb(0, 0, 0);
}
.c{
    padding-left: 500px;;
}
