.con{
    padding-top: 100px;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
}
.карточка{
    width: 350px;
    padding-left: 10%;
}
.abc{
    padding-left: 50%
}
.con1{
    padding-bottom: 300px;
    padding-top: 100px;
    padding-left: 5%;
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
}