<body>
  <div class="con">
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <h1><img src="../../assets/kakoj-chajnik-vybrat-dlya-gazovoj-plity-3.jpg" style="width:300px; height:187px">
        </h1>
        <h2 class="mb-2 text-md text-center">Чайник</h2>
        <p>Цена: <span class="font-bold">{{ 999 | currency:'RUB ' }}</span></p>
        <div сlass="пиписька">
          <button type="button" class="btn btn-dark">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <h1><img src="../../assets/look.com_.ua-18619.jpg" style="width:300px; height:187px">
        </h1>
        <h2 class="mb-2 text-md text-center">Часы</h2>
        <p>Цена: <span class="font-bold">{{ 5999 | currency:'RUB ' }}</span></p>
        <div сlass="пиписька">
          <button type="button" class="btn btn-dark">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <h1><img src="../../assets/30065559bb.jpg" style="width:200px; height:187px">
        </h1>
        <h2 class="mb-2 text-md text-center">Iphone 14</h2>
        <p>Цена: <span class="font-bold">{{ 128999 | currency:'RUB ' }}</span></p>
        <div сlass="пиписька">
          <button type="button" class="btn btn-dark">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <h1><img src="../../assets/20033774b.jpg" style="width:300px; height:187px">
        </h1>
        <h2 class="mb-2 text-md text-center">Стиральная машина</h2>
        <p>Цена: <span class="font-bold">{{ 12000 | currency:'RUB ' }}</span></p>
        <div сlass="пиписька">
          <button type="button" class="btn btn-dark">Купить</button>
        </div>
      </div>
    </div>
  </div>
</body>